@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.field_size1{
    width: 210px;
    height: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    font-family: 'Gloria Hallelujah';
}

.field_size2{
    width: 100px;
    height: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}


.form_text{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
}

.createButton1{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gloria Hallelujah';
    color:white;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0px 0px 18px;   
}

.createButton1:hover {
    color: greenyellow;
}


/* NEW BULLETIN GRID */

#newBulletin-container{
    display: grid;
    grid-template-columns: 4% 6% 80% 6% 4%;
    grid-template-rows: repeat(5, 0.075fr);

}

#logo-grid2{
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }

#header-grid{
    grid-column-start:3;
    grid-row-start: 2;
}

#form-grid2{
    grid-column-start:3;
    grid-row-start: 3;

}

#form-button2{
    grid-column-start:3;
    grid-row-start: 3;

}




/* NEW BULLETIN FORM */
.edit-button3{
    font-size: 18px;
    font-weight: 300;
    width: 190px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color:green;
    border: none;
    appearance: none;
    background: none;
    cursor: pointer;
    padding: 20px 0px; 
}

.edit-button3:hover {
    color: greenyellow;
}

.new-kHw{
    font-family: 'Montserrat', sans-serif;
    color:green;
    font-size: 30px;
    font-weight: 300;
    padding-left:18px;
}


.form_wrapper{
    list-style-type: none;
    display: block;
}

.form_field{
    margin: 20px;
}

.form_input{
    width: 200px;  
}

.field_size{
    width: 210px;
    height: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}


.field_size3{
    width: 900px;
    height: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}


.form_text{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
}

