/* GRID */

#knowledge-container{
    display: grid;
    /* width: 100vw;
    height: 100hw; */
    grid-template-columns: 4% 6% 80% 6% 4%;
    grid-template-rows: repeat(5, 0.075fr);

}

#logo-grid2{
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }

#header-grid{
    grid-column-start:3;
    grid-row-start: 2;
}

#buttons-grid{
    grid-column-start:3;
    grid-row-start: 3;
}

#filter-grid{
    grid-column-start:3;
    grid-row-start: 3;
}

#body-grid{
    grid-column-start:3;
    grid-row-start: 4;
}



/* FLEX */

.intro-flex{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.flex-button-right{
    margin-left: auto;
}

.flex-intro-left{
    margin-right: 1rem;
}



/* OTHER */

.button{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;   
    text-decoration: none;
}

.cleanLink{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}



/* TEXT */
.kHw-title{
    font-family: 'Montserrat', sans-serif;
    color: green;
    font-size: 20px;
    font-weight: 400;
    padding-left:0px;
}

.kHw-content{
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
    font-size: 15px;
    font-weight: 400;

}

.kHw-month{
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.kHw-author{
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
}

.kHw-filter{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: green;
    margin: 24px 15px 24px 24px;
}

.kHw-edit{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    margin-bottom: 20px;
}

.noLine{
    text-decoration: none;
    list-style: none;
}

.filter-box{
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 120px;
}

/* DELETE & EDIT BUTTONS */

.edit-button{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color:green;
    border: none;
    appearance: none;
    background: none;
    cursor: pointer;
    padding: 10px;    
}

.delete-button{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color:red;
    border: none;
    appearance: none;
    background: none;
    cursor: pointer;
    padding: 10px;     
}

.createAccountButton{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;   
}

/* EDIT FORM */

.edit-form{
    margin: 40px;
}
