 /* GRID */

 #login-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(4, 3fr);
  }

#logo-grid{
    grid-column-start:2;
    grid-row-start: 2;
  }


#login-grid{
    grid-column-start:2;
    grid-row-start: 4;
  }


/* OTHER */

.background{
    background-image: url(Aerial.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    width:100vw;
    max-width: 100%;
    max-height: 100%;
    background-size: 100%;
    background-attachment:fixed;
}

.logo{
    height: 300px;  
}

.polytunnel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 85%;
    border: black;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 600px;
    height: 400px;
}

.slogan{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    /* color:green; */
    padding-bottom: 20px;
}

.label{
    text-align:right;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    }
    
.input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    padding: 0px 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    }

input::placeholder {
        /* color:green; */
        font-size: 1.0em;
      }


.form-inner{
        display: flex;
        align-content: center;
        justify-content: center;
    }

.loginbutton{
        font-size: 25px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        color:green;
        appearance: none;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px;
        
    }


