/* Login */
.background{
    background-image: url(Aerial.png);
    /* background-size: contain;   */
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    width:100vw;
    max-width: 100%;
    max-height: 100%;
    background-size: 100%;
    background-attachment:fixed;

}


.welcome{
    color: whitesmoke;
}

.logo{
    height: 300px;  
}

#polytunnel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 85%;
    border: black;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 600px;
    height: 400px;
}

.label{
    /* grid-column: 1 / 2; */
    text-align:right;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    }
    
  .input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    padding: 0px 30px;
    }
    
  .form-submit-button{
      grid-column: 2 / 3;
      border: none;
      font-size: 30px;
      font-weight: 300;
      color: rgb(99, 174, 218);
      background-color: white;
      cursor: pointer;
      margin: 10px 10px;
      padding: 10px;
    }

    .form-inner{
        display: flex;
        /* position: relative; */
        align-content: center;
        justify-content: center;
    }

    .loginbutton{
        font-size: 20px;
        appearance: none;
        background: none;
        border: none;
        outline: none;

    }

    .button_center{

    }