/* NavBar */
.navWrap{
    /* background-color:white; */
    font-size: 25px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navItem{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.left{
    list-style: none;
    margin-right: 1rem;
    padding-right: 10px;
    padding-left: 20px;
}

.right{
    list-style: none;
    margin-left: auto;
    padding-right: 20px;
}

.navLine{
background-color: silver;
padding: 5px;

}