/* NEW USER */

#new-user-container{
    display: grid;
    /* width: 100vw;
    height: 100hw; */
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(5, 0.5fr);
}

#text-grid{
    grid-column-start:2;
    grid-row-start: 2;
}


#form-grid{
    grid-column-start:2;
    grid-row-start: 3;
}

.newUserText{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
}

.newUserHeader{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(82, 79, 79);
    padding-left:0px;
}
