/* PLOTS GRID */

#plots-grid-container{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 4% 11% 70% 11% 4%;
    grid-template-rows: 20% 30% 45% 5%;
}

#logo-grid{
    grid-column-start:2;
    grid-row-start: 1;
}

#your-plots-grid{
    grid-column-start:3;
    grid-row-start: 2;
}

#other-plots-grid{
    grid-column-start:3;
    grid-row-start: 3;
    grid-row-end: 3;
    /* overflow: hidden; */  
}

/* FLEX */
.flexWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: silver;
    list-style: none;

}


.flexPlots{
    display: flex;
    margin: auto;
    text-decoration: none;
}



/* PLOT STYLING */
.plotSpacing{
    padding: 10px;
    margin: 30px 30px;
}

.plotText{
    font-size: 23px;
    font-weight: 200px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 5px 30px;
    color: rgb(152, 88, 88);
}

.no-decoration{
    text-decoration: none;
}

.plotText2{
font-size: 25px;
font-weight: 200px;
font-family: 'Montserrat', sans-serif;
}

/* PLOT DETAIL GRID */

#plots-grid-container2{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 4% 11% 70% 11% 4%;
    grid-template-rows: 25% 28% 47%;
}

#plot-details-grid{
    grid-column-start:3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#plot-history-grid{
    grid-column-start:3;
    grid-row-start: 3;
    grid-row-end: 3;
}

/* PLOT DETAIL TEXT */

.plot-detail1{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: green;
    margin: 0px 15px 0px 24px;
}

.plot-detail2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(82, 79, 79);
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    }

.margin{
    margin: 20px ;
}
